.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.welcome-section {
    background: #F4F4F4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(92, 92, 92, 0.788),rgba(92, 92, 92, 0.185)), url('/background.jpg');
    background-size: cover;
    background-position: center;
}
.welcome-section .title {
    background-color: rgba(58, 58, 58, 0.356);
    padding: 20px 30px;
    border-radius: 8px;
}
.welcome-section .title h1 {
    color: var(--smoothGreen);
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 700;
}
.welcome-section .title h3 {
    color: #e6e6e6;
}
.welcome-section .search {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-section .search h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 15px;
}
.welcome-section .search .job-search {
    text-align: left;
    max-width: 300px;
}
.welcome-section .search .job-search .search-select {
    outline: 0;
    border: 0;
    border-radius: 8px;
    padding: 10px 20px;
    width: 250px;
    height: 65px;
    color: #0000007c;
    margin-bottom: 33px;
}
.welcome-section .search .search-btn {
    display: flex;
    align-items: center;
    border: 0;
    outline: 0;
    background: var(--smoothGreen);
    color: var(--white);
    border-radius: 8px;
    padding: 15px 90px;
  }
.welcome-section .search .search-btn img {
    margin-left: 5px;
}
.benefits-section {
    text-align: center;
    background: #F4F4F4;
    padding-top: 50px;
}
.about-section, .benefits-section {
    padding-left: 5%;
    padding-right: 5%;
}
.benefits-content .benefit-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin-top: 50px;
}
.benefit-cards .benefit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 8px;
    border-bottom: 3px solid var(--smoothGreen);
    background: #dfdfdf18;
    width: 300px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-section {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-direction: column;
}
.about-section .about-left {
      flex-basis: 100%;
      margin: 20px;
      order: 2;
}
.about-section .about-right {
    flex-basis: 100%;
    text-align: center;
}
.about-section .about-img {
    width: 100%;
    border-radius: 8px;
}
.about-section h3 {
    font-weight: 600;
    font-weight: 16px;
    color: var(--smoothGreen);
}
.about-section h2 {
    font-size: 35px;
    color: var(--black);
    margin: 10px 0;
    max-width: 600px;
}
.about-section p {
    color: #676767;
    margin-bottom: 15px;
}
/* -- media query -- */

@media screen and (min-width: 1000px) {
    .welcome-section {
        flex-direction: row;
        gap: 200px;
        height: 90vh;
    }
    .welcome-section .title h1 {
        font-size: 60px;
        letter-spacing: 12px;
    }
    .welcome-section .title h3 {
        font-size: 22px;
        margin-bottom: 0;
    }
    .welcome-section .search h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .welcome-section .search {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;
    }
    .welcome-section .search .job-search {
        max-width: 300px;
    }
    .welcome-section .search .job-search .search-select {
        padding: 10px 20px;
        width: 300px;
        height: 65px;
    }
    .welcome-section .search .search-btn {
        padding: 20px 110px;
      }
    .welcome-section .search .search-btn img {
        margin-left: 10px;
    }
    .benefits-section {
        height: 50vh;
    }
    .benefits-content .benefit-cards {
        flex-direction: row;
        gap: 90px;
        margin-top: 50px;
    }
    .benefit-cards .benefit-card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        border-radius: 8px;
        border-bottom: 3px solid var(--smoothGreen);
        background: #dfdfdf18;
        width: 300px;
        height: 200px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .about-section {
        flex-direction: row;
    }
    .about-section .about-left {
        flex-basis: 40%;
        position: relative;
        order: 0;
    }
    .about-section .about-right {
        flex-basis: 56%;
        text-align: left;
    }
    .about-section p {
        max-width: 800px;
    }
    .about-section h2 {
        margin: 10px 0;
        max-width: 600px;
    }
}
@media screen and (min-width: 820px) {
}
@media screen and (min-width: 650px) {

}