/* ExistingOrg.module.css */

.ag-theme-alpine {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    border-radius: 8px;
}
.ag-theme-alpine .ag-root-wrapper  {
    border: none;
    padding: 15px;
}
.ag-theme-alpine .ag-row {
    border-bottom: none;
}
.ag-theme-alpine .ag-row:nth-child(even) {
    background: var(--bodyGray);
}
.ag-cell-focus,.ag-cell-no-focus{
    border:none !important;
    outline: none !important;
}
.ag-row {
    cursor: pointer;
}