.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
  
.content {
    transition: margin-left 0.3s ease;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.sidebarOpen {
    margin-left: 300px;
}
  
.sidebarClosed {
    margin-left: 0;
}
.actionBtn {
  border: none;
  cursor: pointer;
  background: none;
}
.actionBtn img {
  width: 22px;
}