@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "Overpass", serif;
}
:root {
    --black: #000000;
    --white: #FFFFFF;
    --smoothGreen: #99BC85;
    --darkGreen: #556D48;
}
html, body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}