@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
    --Black: #00000000;
    --SmoothGreen: #99BC85;
    --DarkGreen: #556D48;
    --BackgroundColor: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body{
    background-color: var(--BackgroundColor);

}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}